@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

#container {
    background-color: #F5F5F5;
    border: 5px solid #9c9c9c;
    padding: .8em;
    margin: none;
    border-radius:0.5em;
}

.field {
    display: flex;
    flex-direction: column;
    border: .5px solid black;
    height: 200px;
    width: 600px;
    padding: 1em;
    border-radius: .5em;
    font-size: 12pt;
    align-items: flex-start;
    align-content: justify;
}

.recipPlace {
    height:40px;
    width: 525px;
    background-color: grey;
    padding: .2em;
    border-top: 1.9px solid black;
}


.authorPlace {
    height:20px;
    width: 525px;
    background-color: grey;
    padding: .2em;
    opacity: 66%;
    color: black;

    border-bottom: 1.5px solid black;
}

.letterPlace {
    height: auto;
    width: 525px;
}

.topic {

    height:40px;
    width: auto;
    background-color: #9c9c9c;
    padding: .2em;
    color: black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;;
    opacity: 75%;
    margin-left: -2%;
    
}


#sendLetter {
    margin-top: .8em;
    background-color: grey;
    opacity: 80%;
    color: rgb(230, 220, 255);
    font-size: 1rem;
}

#topics ul {
    display: flex;
    list-style: none;
    margin: 1.5em;
    padding: .1em;
    display: inline-flex
  }