@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");


.field {
    display: flex;
    flex-direction: column;
    border: .5px solid black;
    height: 200px;
    width: 600px;
    padding: 1em;
    border-radius: .5em;
    font-size: 12pt;
    align-items: flex-start;
}



#sendLetter {
    margin-top: .8em;
    background-color: grey;
    opacity: 80%;
    color: rgb(230, 220, 255);
    font-size: 1rem;
}

#topics ul {
    display: flex;
    list-style: none;
    margin: 1.5em;
    padding: .1em;
    display: inline-flex
  }